# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
/.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock

# client
# dependencies
client/node_modules

# testing
client/coverage

# production
build

#assets
src/assets


#data
public/esppData.json
public/backgrounds

#private
/private_scripts
/baseImg
